[submodule "backend"]
	path = backend
	url = https://github.com/23cse311-team11/traceweave-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/23cse311-team11/traceweave-frontend.git
[submodule "desktop"]
	path = desktop
	url = https://github.com/23cse311-team11/traceweave-desktop.git
